html {
  font-family: Lora, serif;
  color: #fff;
}

.masthead {
  background-color: #588477;
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px auto;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-size: 64px;
  background-color: #fff;
  color: #145b1d;
}

.banner {
  border-bottom: 3px solid #2d5a4d;
  background-image: linear-gradient(to bottom, , rgba(16, 52, 41, 0) 71%, rgba(16, 52, 41, .8)), url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-position: .75em 11.5em;
  background-size: 100px;
  padding-top: 18.5em;
}

@media only screen and (min-width: 38em) {

  .banner-content {
    padding-top: 16.9em;
    background-position: .76em 9.9em;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner {
    background-position: bottom;
  }

  .banner-content {
    padding-top: 15.6em;
    background-position: .75em 9.6em;
  }

}

@media only screen and (min-width: 90em) {

  .banner-content {
    padding-top: 13.9em;
    background-position: .75em 8.76em;
  }

}
